.tabs {
  box-sizing: border-box;
  overflow: hidden;
  flex: 1;
  min-height: 5rem;
  position: relative;
  scroll-marker-group: before;
  scroll-marker-group: before tabs;

  &::scroll-marker-group {
    height: 1.5rem;
    overflow: auto;
    white-space: no-wrap;
    padding: 0 8px;
  }
  
  & > * {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    resize: none;
    scroll-snap-align: center;
    
    border: 1px solid #475569;
    border-radius: 6px;
    outline: none;
    overflow: auto;

    &::scroll-marker {
      box-sizing: border-box;
      border: 1px solid #475569;
      border-bottom: 0px;
      background: #ccc;
      content: attr(title);
      color: black;
      height: 1.5rem;
      display: inline-block;
      padding: 0 8px;
    }
    &::scroll-marker:target-current {
      background: #f7f7f7;
      color: blue;
    }
  }
}
