ul {
    border: 1px solid gray;
    padding: 0;
}

li {
    border: 1px solid lightgray;
    list-style: none;
    padding: 20px 10px;
    font-size: larger;
    transition: transform 200ms;
}

li:hover {
    background: rgb(255, 255, 200);
}

html, body {
    box-sizing: border-box;
    height: 100%;
    margin: 0;
}

body {
    padding: 8px;
    display: flex;
    flex-direction: column;
}

.lists {
    display: flex;
    flex-direction: row;
    flex: 1;
    min-height: 0;
}

.lists > div {
    min-width: 0px;
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 8px;
}

.lists > div > ul {
    overflow: auto;
    flex: 1;
}

.targeted {
    outline: 1px solid rgba(100, 100, 255, 0.8);
}