:root {
  --control-background: rgba(0, 0, 0, 0.6);
  --focus-background: rgba(0, 0, 160, 0.6);
  --peak-pixels: 60px;
  --slide-padding: 10px;
}

.carousel {
  border: 3px solid gray;
  width: min(600px, 90vw);
  height: min(400px, 90vh);
  overflow: hidden;
  position: relative;
  resize: both;
  display: grid;
  grid-template-columns: 1fr 50px 50px;
  grid-template-rows: 42px 1fr;
}

.scroller {
  grid-row: 1 / 4;
  grid-column: 1 / 4;
  overflow: auto;
  padding: 10px;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-width: none;
  background: lightgray;
  container-type: size;
}

.scroll-marker-group {
  position: absolute;
  left: 50%;
  translate: -50% 0;
  bottom: 8px;
  background: var(--control-background);
  border-radius: 5px;
  &:focus-within {
    background: var(--focus-background);    
  }
}

.scroll-button {
  background: var(--control-background);
  border-radius: 5px;
  padding: 0;
  position: relative;
  appearance: none;
  grid-row: 1;
  margin: 4px;
  outline-offset: 1px;
  &:focus {
    background: var(--focus-background);
  }
  
  &.inline-end {
    grid-column: 3;
  }

  &.inline-start {
    grid-column: 2;
    content: url("images/ui/prev.svg") / "Previous Slide";
  }
}


.carousel .scroller > .slides {
  list-style: none;
  margin: 0;
  padding: 0 var(--peak-pixels);
  display: flex;
}
  
.slide {
  display: block;
  background: lemonchiffon;
  box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  box-sizing: border-box;
  margin: 0 var(--slide-padding);
  min-width: calc(100cqw - 2 * var(--peak-pixels));
  max-width: 100cqw;
  padding: 16px;
  height: 100cqh;
  scroll-snap-align: center;
}

.scroll-marker {
  appearance: none;
  display: inline-block;
  content: "" / attr(data-label);
  border-radius: 50%;
  box-sizing: border-box;
  width: 16px;
  height: 16px;
  margin: 4px;
  background: black;
  border: 2px solid white;
  &:hover {
    border-color: black;
    outline: 2px solid white;
  }

  &:checked {
    background: white;
  }
}
