:root {
  --control-background: rgba(0, 0, 0, 0.6);
  --focus-background: rgba(0, 0, 160, 0.6);
  --slide-padding: 10px;
}

.carousel {
  border: 3px solid gray;
  width: min(600px, 90vw);
  height: min(400px, 90vh);
  overflow: hidden;
  position: relative;
  resize: both;
  display: grid;
  grid-template-columns: 1fr 50px 50px;
  grid-template-rows: 42px 1fr;
}

.scroller {
  grid-row: 1 / 4;
  grid-column: 1 / 4;
  overflow: auto;
  padding: 10px;
  position: relative;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-width: none;
  scroll-marker-group: after;
  background: lightgray;
  container-type: size;
  
  &::scroll-button(*) {
    background: var(--control-background);
    border-radius: 5px;
    padding: 0;
    position: relative;
    appearance: none;
    grid-row: 1;
    margin: 4px;
    outline-offset: 1px;
  }
  
  &::scroll-button(*):focus {
    background: var(--focus-background);
  }

  &::scroll-button(inline-end) {
    grid-column: 3;
    content: url("images/ui/next.svg") / "Next Slide";
  }

  &::scroll-button(inline-start) {
    grid-column: 2;
    content: url("images/ui/prev.svg") / "Previous Slide";
  }

  &::scroll-marker-group {
    position: absolute;
    left: 50%;
    translate: -50% 0;
    bottom: 8px;
    background: var(--control-background);
    border-radius: 5px;
  }
  
  &::scroll-marker-group:focus-within {
    background: var(--focus-background);    
  }
}

.carousel .scroller > .slides {
  columns: 1;
  width: 100%;
  height: 100%;
  text-align: center;

  &::column {
    scroll-snap-align: center;
  }

  &::column::scroll-marker {
    display: inline-block;
    content: "";
    border-radius: 50%;
    box-sizing: border-box;
    width: 16px;
    height: 16px;
    margin: 4px;
    background: black;
    border: 2px solid white;
  }
  
  &::column::scroll-marker:hover {
    border-color: black;
    outline: 2px solid white;
  }
  
  &::column::scroll-marker:target-current {
    background: white;
  }
}

@keyframes interactive-on-screen {
  0% { interactivity: auto; }
}

.carousel .scroller > .slides > .content {
  height: 100%;

  & > li {
    display: inline-block;
    background: #eee;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.6);
    box-sizing: border-box;
    padding: 4px;
    height: 100%;
    container-type: scroll-state;
    
    interactivity: inert;
    animation: interactive-on-screen steps(1);
    animation-timeline: view(inline);
  }  
}

figure {
  margin: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  
  & img {
    height: 100%;
    max-width: 100%;
    aspect-ratio: auto;
  }
  & figcaption {
    position: absolute;
    bottom: 48px;
    font-size: 32px;
    width: 100%;
    text-align: center;
    color: white;
    
  }
}
