html {
  --header-height: 80px;
  --footer-height: 50px;
  --sidebar-width: 50px;
}

.phone {
  aspect-ratio: 9/16;
  height: 60vh;
  border-radius: 8px;
  background: black;
  padding: 15px 8px;
  position: relative;
  contain: layout;
}

.browser {
  margin: 8px;
  position: relative;
  pointer-events: none;
}

.browser > .content {
  outline: 1px solid black;
}

.screen {
  overflow: clip;
  background: white;
  height: 100%;
  position: relative;
}

.content {
  contain: layout;
  padding-left: var(--sidebar-width);
  padding-top: var(--header-height);
  padding-bottom: var(--footer-height);
  scroll-padding-top:  var(--header-height);
  scroll-padding-bottom:  var(--header-height);
  transform-origin: top left;
  touch-action: none;
  user-select: none;
  box-sizing: border-box;
}

.flex {
  display: flex;
}

.fixed {
  /* Fixed is approximated with absolute position. */
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}

.header {
  height: var(--header-height);
  background: rgba(127, 127, 127, 0.8);
}

.sidebar {
  top: var(--header-height);
  height: calc(var(--fixed-100pct) - var(--header-height) - var(--footer-height));
  width: var(--sidebar-width);
  background: rgba(127, 127, 180, 0.8);
}

.footer {
  height: var(--footer-height);
  color: white;
  background: rgba(80, 80, 80, 0.8);
}

input {
  width: 80%;
}

input:focus {
  border: 5px solid #77f;
}

#layout, #visual, #fixed-viewport {
  position: absolute;
  border: 3px solid currentColor;
  margin-top: -3px;
  margin-left: -3px;
  opacity: 0.5;
}
.layout {
  color: blue;
}
.visual {
  color: red;
}
.fixed-viewport {
  color: green;
}

.keyboard {
  background: #333;
  height: 20vh;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  transition: transform 150ms;
  transform: translateY(100%);
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
      'q q w w e e r r t t y y u u i i o o p p'
      '. a a s s d d f f g g h h j j k k l l .'
      'R R R z z x x c c v v b b n n m m B B B';
}

.key {
  line-height: 250%;
  text-align: center;
  margin: 0.5ch;
  border-radius: 3px;
  background: #aaa;
  cursor: pointer;
  overflow: clip;
  /* Ensure that all letter keys are given the same contribution to the grid size. */
  min-width: 1em;
}

/* Decrease the text size on Enter and Erase keys to allow for uniform size keys. */
.key.small {
  font-size: small;
  line-height: 380%;
}

.keyboard.visible {
  transform: none;
}